!snakedwi/config
!snakedwi/config/*
!snakedwi/resources
!snakedwi/resources/*
!snakedwi/workflow
!snakedwi/workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
.*.swp
__pycache__
.snakemake
report.html
snakedwi/logs
snakedwi/qc
snakedwi/results
snakedwi/work
