!snakedwi/config
!snakedwi/config/*
!snakedwi/resources
!snakedwi/resources/*
!snakedwi/workflow
!snakedwi/workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
